<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>Belajar Kuy - Ruang Kolaburasi untuk Belajar Jadi Baik!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
	  <a class="navbar-brand" href="#"><img src="asset/images/logo-belajarkuy.png" alt="Logo Belajar Kuy"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link active" href="#">DEPAN <span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link" href="#">SHARING</a>
	      <a class="nav-item nav-link" href="#">IDE BAIK</a>
	      <a class="nav-item nav-link" href="#">KONTAK</a>
	    </div>
	  </div>
	</nav>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <!-- <img class="d-block w-100 h-50" src="asset/images/slider-1.jpg" alt="First slide"> -->
	      <div style="background:url('asset/images/slider-1.jpg');background-position: center;background-size: cover;height: 680px;width: 100%;">
	      	<div class="overlay"></div>
	      </div>
	      <div class="carousel-caption d-none d-md-block">
		    <h2>Cari Partner</h2>
		    <p>Disini Kamu bisa Mencari partner jadi baikmu!</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <div style="background:url('asset/images/slider-2.jpeg');background-position: center;background-size: cover;height: 680px;width: 100%;">
	      	<div class="overlay"></div>
	      </div>
	      <div class="carousel-caption d-none d-md-block">
		    <h2>Diskusi</h2>
		    <p>Temukan Teman Diskusi dan belajar yang sesuai Passionmu!</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <div style="background:url('asset/images/slider-3.jpeg');background-position: center;background-size: cover;height: 680px;width: 100%;">
	      	<div class="overlay"></div>
	      </div>
	      <div class="carousel-caption d-none d-md-block">
		    <h2>Ide Baik</h2>
		    <p>Bagikan Ide Baik kamu</p>
		  </div>
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	  <div id="startchange"></div>
	</div>
	<div class="kuy-sharing">
		<div class="container-fluid">
			<div class="text-center">
				<h2>Sharing & Kolaburasi</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href="workshop-mentoring-fsldk.html">
					<div class="detail">
						<img src="asset/images/bg-workshop.jpeg" class="img-fluid">
						<h3>Workshop Mentoring</h3>
						<div class="row">
							<div class="col-md-2">
								<img src="asset/images/logo-fsldk.png" class="img-fluid">
							</div>
							<div class="col-md-10">
								<h5>FSLDK Tangerang</h5>		
							</div>
						</div>
						<div class="bar">
							<div class="progress" style="width:12%;"></div>
						</div><!-- end of bar-->
						<div class="row">
							<div class="col-md-6">
								<p><img src="asset/images/user-group.png" style="width: 25px"> 6 / 50</p>	
							</div>
							<div class="col-md-6 text-right">
								<script type="text/javascript">
									var today = new Date();
									var dd = today.getDate();
									var mm = today.getMonth()+1; //January is 0!
									var yyyy = today.getFullYear();
									if(dd<10) {
									    dd = '0'+dd
									} 
									if(mm<10) {
									    mm = '0'+mm
									} 
									today = yyyy + ',' + mm + ',' + dd;
									var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
									firstDate = new Date(yyyy,mm,dd);									
									var secondDate = new Date(2018,05,20);
									var diffDays = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay)));
									document.write(diffDays);
								</script>
								Hari Lagi
							</div>
						</div>
					</div> <!-- end of detail-->
					</a>
				</div>
			</div> <!-- end of row-->
		</div> <!-- end of container-fluid -->
	</div> <!-- end of kuy-sharing -->
	<div class="kuy-ide">
		<div class="container-fluid-full">
			<div class="row">
				<div class="col-md-4">
					<div class="kuy-ide-left">
						<div class="overlay">
	                        <h2>IDE BAIK</h2>
	                    </div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="text-center">
						<img src="asset/images/img-warawiri.jpg" style="width: 300px;margin: 25px 0" class="img-thumbnail">
						<h5><img src="asset/images/logo-warawiri.png" style="width:50px;"> Wara - Wiri Mengajar</h5>
						<p> Tebar baca dan mewarnai : Edukasi, sosial kultural humanis  : Menerima donasi buku</p>
					</div>
				</div>
			</div> <!-- end of row -->
		</div> <!-- end of container-fluid-full -->
	</div> <!-- end of kuy-ide-->
	<div class="kontak">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h2>HUBUNGI KAMI</h2>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-2">
                        <div class="form-group">
                            <input type="text" name="nama" placeholder="Nama" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                            <input type="text" name="subjek" placeholder="Subjek" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Pesan" name="pesan"></textarea>
                        </div>
                        <div style="margin-top: 25px">
                            <input type="submit" name="s" value="KIRIM">
                        </div>
                    </div>
                </div>
            </div> <!-- end of container -->
        </div> <!-- end of overlay -->
    </div> <!-- end of kontak -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        &copy;2018 BelajarKuy All Right Reserved.</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end of footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type="text/javascript">
    	$('.carousel').carousel({
		  interval: 2000
		});
    </script>
    <script type="text/javascript">
	$(document).ready(function(){       
	    var scroll_start = 0;
	    var startchange = $('#startchange');
	    var offset = startchange.offset();
	    if (startchange.length){
	        $(document).scroll(function() { 
	            scroll_start = $(document).scrollTop();
	            if(scroll_start > offset.top) {
	                $(".navbar").css('background-color', '#f37e29');
	                $(".navbar").css('border-bottom', '1px solid #fff');
	            } else {
	                $(".navbar").css('border-bottom', 'none');
	                $(".navbar").css('background-color', 'transparent');
	            }
	        });
	    }
	 });
    </script>
  </body>
</html>