<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>Belajar Kuy - Ruang Kolaburasi untuk Belajar Jadi Baik!</title>
  </head>
  <body style="margin-top: 100px">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-orange">
	  <a class="navbar-brand" href="#"><img src="asset/images/logo-belajarkuy.png" alt="Logo Belajar Kuy"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="index.html">DEPAN <span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link active" href="#">SHARING</a>
	      <a class="nav-item nav-link" href="#">IDE BAIK</a>
	      <a class="nav-item nav-link" href="#">KONTAK</a>
	    </div>
	  </div>
	</nav>
	<div class="kuy-sharing">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="detail">
						<img src="asset/images/bg-workshop.jpeg" class="img-fluid">
						<div class="row" style="margin-bottom: 20px;">
							<div class="col-md-8">
								<h3>Workshop Mentoring</h3>
							</div>
							<div class="col-md-4 text-right">
								<h5><img src="asset/images/logo-fsldk.png" style="width: 25px;"> FSLDK Tangerang</h5>		
							</div>
						</div>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
						    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Detail</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="contact" aria-selected="false">Daftar</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="file-tab" data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">File Pendukung</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">List Peserta</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab" aria-controls="message" aria-selected="false">Pesan</a>
						  </li>
						</ul>
						<div class="tab-content" id="myTabContent" style="padding: 20px 10px;">
						  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						  	<h4>Assalamualaikum Wr.wb.</h4>
						  	<p>
								Rasulullah Shallallahu’alaihi Wasallam bersabda:<br />

								<h3>خَيْرُ الناسِ أَنْفَعُهُمْ لِلناسِ</h3>

								“Sebaik Baik Manusia Adalah Yang Paling Bermanfaat Bagi Orang Lain”<br />

								Maka Salah satu hal yang paling bermanfaat bagi orang lain adalah memberikan ilmu yang bermanfaat. Pada tahapan dakwah kampus sudah merupakan hal yang wajar untuk mengadakan lingkaran-lingkaran kebaikan untuk saling memberikan ilmu dan mengikat hati yang bernama <b>Mentoring</b>. Namun tak banyak yang memiliki kecakapan atau bakat menjadi seorang mentor yang baik.<br /><br />
								Oleh Karena itulah, kami dari FSLDK Tangerang menangkap keresahan mentor, calon mentor ataupun tim kaderisasi LDK masing-masing kampus di Kota / Kabupaten Tangerang. Dengan acara bernama <b>"Workshop Mentoring"</b>. Acara akan diadakan pada:<br /><br />
								<table class="table table-stripped">
									<tr>
										<th>Tanggal</th>
										<td>Ahad, 20 Mei 2018</td>
									</tr>
									<tr>
										<th>Waktu</th>
										<td>09.00 - 12.00</td>
									</tr>
									<tr>
										<th>Tempat</th>
										<td>SMAIT Asy-syukriyyah</td>
									</tr>
								</table>
								<br />
								Insya Allah kita semua diberi kemudahan untuk menghadiri acara-cara penuh kebaikan ini. Insya Allah kita juga dikarunia keistiqomahan di jalan dakwah ini.<br /><br />
								Untuk Cara Mendaftar dapat mengisi Form pendaftaran yang berada di tab daftar pada menu diatas.
							</p>
						  </div>
						  <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
						  	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScN7yFz-idRg_rNqNH1YqW4ERq18xPm8sebFJNk14_YQ9xXCg/viewform?embedded=true" width="100%" height="1000px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
						  </div>
						  <div class="tab-pane fade" id="file" role="tabpanel" aria-labelledby="file-tab">
						  	File Pendukung Belum tersedia..
						  </div>
						  <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
						  	<div class="row">
						  		<div class="col-md-3 text-center">
						  			<img src="asset/images/user-female.png" class="img-fluid">
						  			Lestari<br />
						  			LDK STAIS Asy-syukriyyah
						  		</div>
						  		<div class="col-md-3 text-center">
						  			<img src="asset/images/user-female.png" class="img-fluid">
						  			Ayu<br />
						  			LDK Poltekkes Banten
						  		</div>
						  		<div class="col-md-3 text-center">
						  			<img src="asset/images/user-male.png" class="img-fluid">
						  			Sefanda Yusyad<br />
						  			LDK FUMMRI - STMIK Raharja
						  		</div>
						  		<div class="col-md-3 text-center">
						  			<img src="asset/images/user-male.png" class="img-fluid">
						  			Zuhdi Robbani<br />
						  			LDK MT Al-Khawarizmi - Universitas Bina Nusantara
						  		</div>
						  	</div>
						  	<div class="row">
						  		<div class="col-md-3 text-center">
						  			<img src="asset/images/user-female.png" class="img-fluid">
						  			Riskha<br />
						  			LDK Syaamil - Universitas Islam Syek Yusuf (UNIS)
						  		</div>
						  		<div class="col-md-3 text-center">
						  			<img src="asset/images/user-male.png" class="img-fluid">
						  			Wahib<br />
						  			LDK Badaris - BSI Cimone
						  		</div>
						  	</div>
						  	<div class="text-center">
						  		<small><i>*Terakhir Diupdate 3 May 2018 14:37</i></small>
						  	</div>
						  </div>
						  <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">
						  	<div class="row row-message">
						  		<div class="col-md-2 text-center">
						  			<img src="asset/images/user-male.png" class="img-fluid">
						  			Zuhdi Robbani
						  		</div>
						  		<div class="col-md-10">
						  			Acara ketje, mantap, keren!
						  		</div>
						  	</div>
						  </div>
						</div>
					</div> <!-- end of detail-->
				</div>
				<div class="col-md-4">
					<div class="sidebar-right">
						<div class="detail">
							<h3>6 / 50 Peserta</h3>
							<div class="bar">
								<div class="progress" style="width:12%;"></div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p>12% Dari Target</p>
								</div>
								<div class="col-md-6 text-right">
									<script type="text/javascript">
									var today = new Date();
									var dd = today.getDate();
									var mm = today.getMonth()+1; //January is 0!
									var yyyy = today.getFullYear();
									if(dd<10) {
									    dd = '0'+dd
									} 
									if(mm<10) {
									    mm = '0'+mm
									} 
									today = yyyy + ',' + mm + ',' + dd;
									var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
									firstDate = new Date(yyyy,mm,dd);									
									var secondDate = new Date(2018,05,20);
									var diffDays = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay)));
									document.write(diffDays);
									</script>
									Hari Lagi
								</div>
							</div>
						</div>
						<div class="detail" style="margin-top: 25px;">
							<h3>Pesan Pilihan</h3>
							<div class="row">
								<div class="col-md-4">
									<img src="asset/images/user-male.png" class="img-fluid">
								</div>
								<div class="col-md-8">
									<h5>Zuhdi Robbani</h5>
									<p>Acara ketje, mantap, keren!<br />
									<small>27 April 2018</small>
								</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<img src="asset/images/user-female.png" class="img-fluid">
								</div>
								<div class="col-md-8">
									<h5>Lestari</h5>
									<p>Insya Allah ikut ini banyak dapat manfaat nya<br />
										<small>27 April 2018</small>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<img src="asset/images/user-male.png" class="img-fluid">
								</div>
								<div class="col-md-8">
									<h5>Sefanda Yusyad</h5>
									<p>Dengan adanya acara ini saya mengharapkan adanya upgrading skill saya dalam mengisi mentoring<br />
									<small>27 April 2018</small>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<img src="asset/images/user-male.png" class="img-fluid">
								</div>
								<div class="col-md-8">
									<h5>Ayu</h5>
									<p>Akhirnyaa acara yang ditunggu-tunggu ada juga. Semoga FSLDK semakin banyak memberikan manfaat<br />
									<small>27 April 2018</small>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<small><i>*Terakhir Diupdate 3 May 2018 14:37</i></small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- end of row-->
		</div> <!-- end of container-fluid -->
	</div> <!-- end of kuy-sharing -->
	<div class="kontak">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h2>HUBUNGI KAMI</h2>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-2">
                        <div class="form-group">
                            <input type="text" name="nama" placeholder="Nama" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                            <input type="text" name="subjek" placeholder="Subjek" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Pesan" name="pesan"></textarea>
                        </div>
                        <div style="margin-top: 25px">
                            <input type="submit" name="s" value="KIRIM">
                        </div>
                    </div>
                </div>
            </div> <!-- end of container -->
        </div> <!-- end of overlay -->
    </div> <!-- end of kontak -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        &copy;2018 BelajarKuy All Right Reserved.</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end of footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type="text/javascript">
    	$('.carousel').carousel({
		  interval: 2000
		});
    </script>
    <script type="text/javascript">
	$(document).ready(function(){       
	    var scroll_start = 0;
	    var startchange = $('#startchange');
	    var offset = startchange.offset();
	    if (startchange.length){
	        $(document).scroll(function() { 
	            scroll_start = $(document).scrollTop();
	            if(scroll_start > offset.top) {
	                $(".navbar").css('background-color', '#f37e29');
	                $(".navbar").css('border-bottom', '1px solid #fff');
	            } else {
	                $(".navbar").css('border-bottom', 'none');
	                $(".navbar").css('background-color', 'transparent');
	            }
	        });
	    }
	 });
    </script>
  </body>
</html>